<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- 加载通用配置文件 -->
    <util:properties id="config"
                     location="classpath:ioc/application/environment/common.properties"/>


    <bean name="commonService" class="com.spring.ioc.bean.assemblyBean.beanObject.profile.CommonServiceImpl2">
    </bean>

    <context:annotation-config/>

    <import resource="spring-dev-config.xml"></import>

    <import resource="spring-produce-config.xml"></import>

</beans>
